html{
    background: url(Images/html_background.png ) center 100% fixed;
}
body{
    background: url(Images/body_background.png) center no-repeat;
    text-align: center;
    color: white;
    font-size: 1.7em;
    float: left;
}
#Logo{
    display: none;
} 